.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crée une grille avec 3 colonnes */
    grid-gap: 20px; /* Espacement entre les cartes */
    padding: 20px; /* Un peu de padding autour de la grille */
}

.grid-item {
    /* Si vous souhaitez ajouter des styles spécifiques aux éléments de la grille, faites-le ici */
}

/* Responsive: Ajustez le nombre de colonnes sur les écrans plus petits si nécessaire */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur les écrans moyens */
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 colonne sur les petits écrans */
    }
}
