<!doctype html>
{# Use light theme, as it fits better with our color palette #}
<html lang="fr" data-bs-theme="light">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}GentleShare{% endblock %}</title>
    {# Logo #}
    <link rel="icon" href="{{url_for('static', filename='logo.png')}}">

    {# Tailwind CSS #}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    {# Custom CSS #}
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    {% endblock head %}
</head>


<body>
    {% block header %}
    <nav class="menu-container flex justify-between items-center">
        <!-- burger menu -->
        <input type="checkbox" aria-label="Toggle menu" />
        <span></span>
        <span></span>
        <span></span>

        <!-- logo -->
        <a href="{{url_for('main.index')}}" class="menu-logo">
            <img src="{{url_for('static', filename='logo.png')}}" alt="GentleShare" />
        </a>

        <!-- menu items -->
        <div class="menu">
            <ul class="flex space-x-4">
                <li>
                    <a href="{{url_for('main.myfiles')}}" class="text-blue-500">
                        Mes fichiers
                    </a>
                </li>
                <li>
                    <a href="#courses" class="text-blue-500">
                        Mes cours
                    </a>
                </li>
            </ul>
            <ul class="flex space-x-4">
                {% if not current_user.is_authenticated %}
                <li>
                    <a href="{{url_for('main.register')}}" class="text-blue-500">
                        Inscription
                    </a>
                </li>
                <li>
                    <a href="{{url_for('main.login')}}" class="text-blue-500">
                        Se connecter
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{{url_for('main.upload_file')}}" rel="noopener noreferrer" class="text-blue-500">Upload fichier</a>
                </li>
                <li>
                    <a href="{{url_for('main.create_course')}}" rel="noopener noreferrer" class="text-blue-500">Créer un cours</a>
                </li>
                <li>
                    <a href="{{url_for('main.logout')}}" class="text-blue-500">
                        Déconnexion
                    </a>
                </li>
                <li>
                    <a href="{{url_for('main.profile')}}" class="text-blue-500">
                        <img src="{{url_for('static', filename='user.png')}}" alt="GentleShare" class="reduce-img" />
                    </a>
                </li>
                {% endif %}
            </ul>

        </div>
    </nav>

    {% endblock header %}

    {% block flashed_messages %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div id="flashed-messages-container" class="container">
        {% for category, message in messages %}
        <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative mb-2" role="alert">
            {{message}}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% endblock flashed_messages %}

    <main class="container mx-auto pt-5 pb-3 min-h-screen">
        {% block content required %}{% endblock content %}
    </main>


    {% block footer%}
    <footer class="footer py-3 bg-light bottom">
        <div class="container text-center mx-auto">
            <span class="text-muted">© 2024 GentleShare. All rights reserved.</span>
        </div>
    </footer>
    {% endblock footer %}

</body>

</html>
