{% extends 'base.jinja' %}

{% block title %}
{{ super() }} - Connexion
{% endblock %}

{% block content %}
{# TODO: Put a better login form here #}
<div class="container">
    <h2>Connexion</h2>

<form action="{{url_for('main.connexion')}}" method="POST">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username(size=20) }}
    {{ form.password.label }} {{ form.password(size=20) }}
    <input type="submit" value="Go">
</form>
</div>
{% endblock content %}