{% extends 'base.jinja' %}
{% from '_macro.jinja' import form_field with context %}
{% from '_tables.jinja' import review_table with context %}


{% block title %}
{{ super() }} - Cours
{% endblock %}

{% block content %}
<h2
    class="text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
    Cours</h2>

<div class="bg-white p-8 rounded-3xl shadow-xl mb-6">
    <h2 class="text-3xl font-bold">{{course.title}}</h2>
    <h4 class="text-1xl mb-6">Posté par <a href="{{url_for('main.profile', username=course.owner.username)}}"
            class="font-bold text-blue-600">{{course.owner.username}}</a></h4>

    <div class="container">
        <div>
            {{course.description | escape | markdown}}
        </div>
    </div>
    {# <div>
        <h3 class="text-lg font-semibold text-gray-700">Average Review:</h3>
        <div class="flex justify-center gap-1">
            {% for i in range(1, 6) %}
            <svg class="w-6 h-6 {{'text-yellow-500' if i <= user.average_review else 'text-gray-400'}}"
                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.176 0l-2.8 2.034c-.785.57-1.84-.197-1.54-1.118l1.07-3.292a1 1 0 00-.364-1.118l-2.8-2.034c-.783-.57-.381-1.81.588-1.81h3.462a1 1 0 00.95-.69l1.07-3.292z">
                </path>
            </svg>
            {% endfor %}
        </div>
    </div> #}
</div>

{{review_table(course.reviews, "review-table")}}
{% endblock content %}