{% extends 'base.jinja' %}
{% from '_macro.jinja' import form_field, file_form_field with context %}

{% block title %}
{{ super() }} - Upload fichier
{% endblock %}

{% block content %}
<div class="container mx-auto">
    <h2 class="text-2xl font-bold">Téléversement de fichier:</h2>
    <form class="max-w-lg mx-auto" action="{{url_for('main.upload_file')}}" method="POST" enctype="multipart/form-data">
        {{form.csrf_token}}
        {{file_form_field(form.file, form)}}
        {{form_field(form.title, form)}}
        {{form_field(form.description, form)}}
        {{form_field(form.education_level, form)}}
        {{form_field(form.subject, form)}}

        <button type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ajouter</button>
    </form>
</div>

<script>
    const dropZone = document.getElementById('drop-zone');

    dropZone.addEventListener('dragover', (e) => {
        e.preventDefault();
        dropZone.classList.add('border-blue-500');
    });

    dropZone.addEventListener('dragleave', () => {
        dropZone.classList.remove('border-blue-500');
    });

    dropZone.addEventListener('drop', (e) => {
        e.preventDefault();
        dropZone.classList.remove('border-blue-500');
        const files = e.dataTransfer.files;
        document.getElementById('file').files = files;
        document.getElementById('filename').value = files[0].name;
    });
</script>
{% endblock %}