{% extends 'base.jinja' %}

{% block title %}
{{ super() }} - Connexion
{% endblock %}

{% block content %}
{# TODO: Put a better upload form here #}
<div class="container mx-auto">
    <h2 class="text-2xl font-bold">Téléversement de fichier:</h2>
    <form action="{{url_for('main.upload_file')}}" method="POST" enctype="multipart/form-data">
        <div class="mb-4">
            <label for="file" class="block font-semibold">Veuillez choisir le nom du fichier:</label>
            <input type="text" class="w-full px-3 py-2 border rounded-md" name="title">
        </div>
        <div class="mb-4">
            <label for="file" class="block font-semibold">Veuillez choisir le fichier à téléverser:</label>
            <input type="file" class="w-full px-3 py-2 border rounded-md" id="file" name="file">
        </div>
        <div class="mb-4">
            <label for="description" class="block font-semibold">Description:</label>
            <textarea class="w-full px-3 py-2 border rounded-md" name="description" rows="4" cols="50"></textarea>
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Upload</button>
    </form>
</div>
{% endblock content %}
