{% extends 'base.jinja' %}

{% block head %}
{{ super() }}
{# Custom CSS #}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">

{# Custom JS#}
<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}


{% block title %}
{{ super() }} - Liste
{% endblock %}

{% block content %}

{% for course in course_list %}
<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col justify-between">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> {{ course.education_level.display_name | escape }} - {{ course.title | escape }}</h5>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ course.description }}</p>
    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Read more
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
{% endfor %}

        {# {{ course.education_level.display_name | escape }} - {{ course.subject.display_name | escape }}  #}
        
{#    
        <div class="carousel-item">
            <p class="mt-4 text-gray-500 italic">Rien pour l'instant.</p>
        </div>
      

    <button id="prevBtn">Précédent</button>
    <button id="nextBtn">Suivant</button> #}


{#        
        <div>
            <h2 class="text-center text-lg font-semibold">Fichiers</h2>
            {% if file_list %}
            {% for file in file_list %}
            <div class="bg-white shadow-md rounded-lg p-4">
                <div class="text-gray-600">
                    {{file.education_level.display_name | escape}} - {{file.subject.display_name | escape}}
                </div>
                <div class="mt-2">
                    <h3 class="text-xl font-semibold">{{file.title | escape}} ({{file.stored_file.filename | escape}})</h3>
                    <p class="mt-2 text-gray-600">Size: {{file.pretty_file_size}}</p>
                    <p class="mt-2 text-gray-600">{{file.description | escape}}</p>
                    <a href="{{file.file_url}}" class="mt-2 inline-block bg-blue-500 text-white py-2 px-4 rounded">Télécharger</a>
                </div>
                <div class="mt-4 text-sm text-gray-500">
                    Posté par {{file.uploader.username | escape}} le {{file.uploaded_at.strftime('%d/%m/%Y %H:%M:%S')}}
                    UTC
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="mt-4 text-gray-500 italic">Rien pour l'instant.</p>
            {% endif %}
        </div>
    </div>
</div> #}

<script>
    const search_bar = document.getElementById('search-bar');
    const searchables = document.querySelectorAll('[data-title]');

    search_bar.addEventListener('input', () => {
        const search_query = search_bar.value.toLowerCase();
        searchables.forEach(searchable => {
            if (searchable.dataset.title.toLowerCase().includes(search_query)
                || searchable.dataset.description.toLowerCase().includes(search_query)) {
                searchable.style.display = 'block';
            } else {
                searchable.style.display = 'none';
            }
        });
    });
</script>
{% endblock content %}
