{% extends 'base.jinja' %}

{% block title %}
{{ super() }} - Liste
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- First container -->
        <div class="col-md-6">
            <h2 class="text-center">Fichiers</h2>
            <a href="{{url_for('main.upload_file')}}" class="btn btn-primary mb-2">Ajouter un fichier</a>
            {% if file_list %}
            {% for file in file_list %}
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">{{file.stored_file.filename}}</h5>
                    <p class="card-text">Size: {{file.pretty_file_size}}</p>
                    <a href="{{file.file_url}}" class="btn btn-primary">Télécharger</a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="fw-lighter fst-italic">Rien pout l'instant.</p>
            {% endif %}
        </div>
        <!-- Second container -->
        <div class="col-md-6">
            <h2 class="text-center">Cours</h2>
            TODO!
        </div>
    </div>
</div>
{% endblock content %}