{% extends 'base.jinja' %}
{% from '_macro.jinja' import form_field with context %}

{% block title %}
{{ super() }} - Connexion
{% endblock %}

{% block content %}
{# TODO: Put a better login form here #}
<div class="container">
    <h2>Login Form</h2>
    <form action="{{url_for('main.login')}}" method="POST">
        {{ form.csrf_token }}
        {{form_field(form.username, form)}}
        {{form_field(form.password, form)}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}