{% extends 'base.jinja' %}
{% from '_macro.jinja' import form_field with context %}
{% from '_tables.jinja' import course_table with context %}


{% block title %}
{{ super() }} - Mes cours
{% endblock %}

{% block content %}
<h2
    class="text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
    Cours</h2>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    {{course_table(course_list)}}
</div>

{% endblock content %}