{% extends 'base.jinja' %}
{% from '_macro.jinja' import form_field with context %}


{% block title %}
{{ super() }} - Page de profil
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md">
            <h1> Informations personnelles </h1>
            <form action="{{url_for('main.profile')}}" method="POST">
                {{form_field(form.display_name)}}
                <br>
                {{form_field(form.about)}}
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-1 border-end me-5"></div>
        <div class="col-md">
            <h1> Paramètres </h1>
            <div class="container">
                <h3>2FA Double authentification {{current_user.username | safe}}</h3>
                <h3>TOTP</h3>
                <img src="{{ qrcode(current_user.totp_uri) }}" width="20%" height="20%">
            </div>
        </div>
    </div>
</div>
{% endblock content %}