{% extends 'base.jinja' %}
{% from '_macro.jinja' import form_field with context %}

{% block title %}
{{ super() }} - Inscription
{% endblock %}

{% block content %}
{# TODO: Put a better registration form here #}
<div class="container">
    <h2>Registration Form</h2>
    <form action="{{url_for('main.register')}}" method="POST">
        {{ form.csrf_token }}
        {{form_field(form.username, form)}}
        {{form_field(form.password, form)}}
        {{form_field(form.password_confirm, form)}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}