{% extends 'base.jinja' %}

{% block title %}
{{ super() }} - Connexion
{% endblock %}

{% block content %}
<main class="container pt-5 pb-3">
    {# TODO: Put a better registration form here #}
    <div class="container">
        <h2>Registration Form</h2>
        <form action="{{url_for('main.register')}}" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>
{% endblock content %}